/*==================================================
=            			Media Queries             =
==================================================*/



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	#mock-col {
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		position: absolute;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#services-tab li {
		width: 184px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}





/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	/* Intro Section */
	#intro-section .caption h1 {
		font-size: 50px;
	}
	/* Contact Section */
	.contacts {
		float: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	/* Parallax background */
	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}

	/* intro section caption */
	#intro-section .caption {
		top: 50% !important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	/* Navbar brand */
	.navbar-brand, .navbar-brand:focus {
		margin-left: 10px;
	}

	/* Navbar toggle button */
	.navbar-toggle {
		margin-top: 18px;
		border: none;
	}
	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: rgba(0, 0, 0, 0) !important;
	}

	.navbar-toggle .icon-bar {
		height: 3px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF !important;
	}

	/* Navbar collapse / links */
	.navbar-collapse {
		border-width: 2px;
		text-align: center;
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: 440px;
	}
	.navbar-inverse .navbar-collapse {
		background-color: #111;
	}
	.navbar-nav > li > a {
		padding: 20px 0 !important;
		font-size: 18px;
	}

	#bs-example-navbar-collapse-1 > ul {
		display: block;
	}

	/* Some Text Center Area */
	#cta-section, #about-section, #contact-section, #contact-section .contact .form-control {
		text-align: center;
	}

	/* Rotate Box */
	.rotate-box-1 .rotate-box-info {
		padding-left: 0;
		text-align: center;
	}
	.rotate-box-1 .rotate-box-icon {
		float: none ;
		margin-right: 0;
		margin-bottom: 30px;
	}
	a.rotate-box-1 {
		text-align: center;
		margin-top: 0;
	}

	#intro-text {
		margin-right: 0% !important;
	}
	.intro-text {
		float: none !important;
	}
	#branding-list {
		text-align: left;
	}
	.equine {
		text-align: center;
	}
	#branding-list {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.navbar-collapse {
		background-color: black;
		color: white;
	}

	.contacts {
		display: block;
	}
	.nav-tabs {
		letter-spacing: normal;
		font-size: 11px;

	}



}

@media only screen and (max-width : 768px) {
	.equine-text {
		float: none !important;
		text-align: center !important;
	}
	p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
/*	#equine-section {
		background-position: 5% -75px !important;
	}*/
	.web-intro-text {
		float: none !important;
		text-align: center !important;
	}
	.intro-text {
		float: none !important;
		text-align: center !important;
	}
	#intro-section {
		background-position: 0px 100px !important;
		background-size: 200% !important;
	}
	#equine-section {
		background-position: 0px 0px !important;
		background-size: 200% !important;
		height: 100% !important;
	}
	#web-intro-section {
		background-position: 0px 100px !important;
		background-size: 200% !important;
		height: 100% !important;
	}
	#data-section {
		background-position: -175px 50px !important;
		background-size: contain !important;
		height: 100% !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	/* Team */
	#team-section .col-md-2 {
		width: 100%;
	}
	#services-tab li {
		border: solid black 1px;
	}
	.alt-tabs-icon {
		display: none;
	}
	#services-tab li {
		display: block;
	}
	.contacts {
		float: none !important;
	}
	.contacts {
	font-size: 80%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  CUSTOM MEDIA QUERIES   ==========*/

@media only screen and (min-width: 1020px) {
	.social {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
	ul.social-list li {
		margin-right: 0px;
	}
	ul.social-list {
		margin-left: 0px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	#services-tab {
		font-size: 12px;
		letter-spacing: .2em;
	}
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
	br.visible-xs {
		display: none !important;
	}
	#services-tab {
		font-size: 12px;
		letter-spacing: 0em;
	}
	.alt-tabs-icon {
		margin-bottom: 0;
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
	br.visible-xs {
		display: none !important;
	}
	#services-tab {
		font-size: 11px;
		letter-spacing: 0em;
	}
	.alt-tabs-icon {
		margin-bottom: 0;
		font-size: 1.3rem;
	}
	.nav>li>a {
		padding: 10px 12px;
		margin-right: 0;
	}
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
	#services-tab {
		font-size: 11px;
		letter-spacing: 0em;
	}
	.alt-tabs-icon {
		margin-bottom: 0;
		font-size: 1.3rem;
	}
	.nav>li>a {
		padding: 10px 12px;
		margin-right: 0;
	}

}

@media only screen and (min-width : 768px) and (max-width: 992px) {
	.contacts {
		float: none;
	}
	.rotate-box-1.square-icon .rotate-box-icon {
		width: 35px;
		height: 35px;
		line-height: 40px;
		font-size: 13px;
		letter-spacing: 0rem
	}
}