#web-intro-section {
  background-color: black;
  height: 90%;
}
.parallax-web-intro {
  position: relative;
  background-position: 0px 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: contain;
    background-size: contain;
}
#web-intro-section .container {
  height: 100%;
}
#web-intro-section .caption {
  position: relative;
  top: 50%;
}
#web-intro-section .caption h3 {
  font-size: 23px;
  text-align: center;
}
#web-intro-text {
  margin-top: auto;
  margin-bottom: auto;
}
.web-intro-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.difference-p {
  text-align: justify;
}
.difference {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background-position: 100% 100%;
  background-size: contain;
}